body{
    font-family: helvetica;
}
.make-list ul{
    list-style: none;
    margin-left: -5%;
}
.make-list ul li a{
    color: rgb(71, 77, 74);
}
.make-list{
    max-height: 10%;
}
.single-table{

    border: 1px solid rgb(170, 170, 172);
    box-shadow: 0px 0px 10px rgb(170, 170, 172);

}
.tables{
    float:right;
    width: 90%;
}

.car-info ul{
    list-style: none;
}
#car-price{
    background-color:red;
    color: white;
    font-size: 13px;
    margin-top: 50px;
    display: block;

}
#condition,
#mileage,
#spec,
#desc{
    color: red;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}
#condition-value,
#mileage-value,
.spec ul li,
desc-value{
    font-size: 12px;

}
.mileage{
    width:100%;
}
.car-info .row{
    margin-left: 10px;
}
.car-title{
    font-size: 20px;
    font-weight: 600;
}
.car-info{
    padding-top:-10px;
}

.input-car p{
    font-size: 24px;
}
